{% liquid
    assign current_variant = product.selected_or_first_available_variant
    assign featured_image = current_variant.image | default: product.featured_image
    assign secondary_image = product.images[1] | default: product.featured_image
    assign discountAmount = current_variant.compare_at_price | minus: current_variant.price
    assign discountPercentage = discountAmount | times: 100 | divided_by: current_variant.compare_at_price
    assign displayAddtoCart = displayButton | default:false
    assign card_product=product
  %}

  
  {% style %}
  
  {% endstyle %}
  
  <product-card 
    class="product-card"
    data-product-handle="{{ product.handle}}" 
    data-section-id="{{ section_id }}" data-display="{{ displayAddtoCart }}" data-variant-id="{{ current_variant.id }}"
  >

    <a href="{{ product.url }}" class="product-card__link position-relative">
      
      <div class="custom--best-sellers ">
      <div class="">
     
        {% render 'image',
          desktopImage: featured_image,
          class: 'media media--portrait'
        %}
        <div class="product-card__secondary-image">
          {% render "image", desktopImage: secondary_image, class:"media media--portrait" %}
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="eye-icon" viewBox="0 0 24 24" width="24" height="24">
          <path d="M19.875 9.625c-.125-.25-4.5-5.875-9.875-5.875S.25 9.375.125 9.625a.797.797 0 0 0 0 .75c.125.25 4.5 5.875 9.875 5.875s9.75-5.625 9.875-5.875a.797.797 0 0 0 0-.75ZM10 15c-4 0-7.5-3.75-8.625-5C2.5 8.75 6 5 10 5s7.5 3.75 8.625 5C17.5 11.25 14 15 10 15Z"></path>
          <path d="M10 6.875A3.095 3.095 0 0 0 6.875 10 3.095 3.095 0 0 0 10 13.125 3.095 3.095 0 0 0 13.125 10 3.095 3.095 0 0 0 10 6.875Zm0 5C9 11.875 8.125 11 8.125 10S9 8.125 10 8.125 11.875 9 11.875 10 11 11.875 10 11.875Z"></path>
        </svg>
   
      <button class="quickviewlink">Quick Link</button>
    
      </div>
  
  
    </div>
      
    </a>
  
    <div class="product-card__info">
     <a href="{{ product.url }}" class="product-card__title">{{ product.title }}</a> 
<div class="product-card__prices">
  {% if product.price_varies %}
    <span class="product-card__price-amount"> {{ product.price_min | money_with_currency }}</span>
  {% else %}
    <span class="product-card__price-amount">  {{ product.price | money_with_currency }}</span>   
  {% endif %}                

  {% if current_variant.compare_at_price > current_variant.price %}
  <s class="product-card__compareprice">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</s>
  {% endif %} 

{% comment %} <div class="custom--best-seller-slide--content">
  {% if product.tags != blank %}
    <p class="productviewtags">{{ product.tags }}</p>
  {% endif %}

  {% if product.tags contains 'Sale' %}
    <p class="productviewtags1">{{ product.tags }}</p>
  {% endif %}
</div> {% endcomment %}
</div>

{% comment %} product color swatch {% endcomment %}

        <div class="product-card__form">
          {% form 'product', product %}
            <input type="hidden" name="id" value="{{ current_variant.id }}">          
              {% if product.options_with_values %}
                  <div class="product-card__options">
                      {% for product_option in product.options_with_values %}
                        {% if product_option.name == "Size" %}
                          <div class="product-card__option">
                              <ul class="product-card__list">
                                {% for option_value in product_option.values %}
                                  {% assign isOptionOutOfStock = false %}
                                  
                                  {% if current_variant.inventory_quantity == 0 and product_option.selected_value == option_value %}
                                      {% assign isOptionOutOfStock = true %}
                                  {% endif %}
                                  
                                  <li data-value={{ option_value }} {% if isOptionOutOfStock %} out-of-stock{% endif %}" style="{% if product_option.selected_value == option_value %}{% endif %}">
                                      <input 
                                          id="{{ current_variant.id | append: option_value }}"
                                          type="radio" 
                                          name="option-{{ product_option.name | handleize }}" 
                                          value="{{ option_value }}"
                                          {% if product_option.selected_value == option_value %}checked{% endif %}
                                      >
                                      <label data-value="{{ option_value }}" for="{{ current_variant.id | append: option_value }}">{{ option_value }}</label> 
                                      {% if isOptionOutOfStock %}
                                          <div class="product-variant-options__cross-line"></div>
                                      {% endif %}
                                  </li>
                              {% endfor %}
                              </ul>                                  
                          </div>
                      {% endif %}
                          {% if product_option.name == "Color" %}
                              <div class="product-card__option">
                                  <ul class="product-card__list">
                                    {% for option_value in product_option.values %}
                                      {% assign isOptionOutOfStock = false %}
                                      
                                      {% if current_variant.inventory_quantity == 0 and product_option.selected_value == option_value %}
                                          {% assign isOptionOutOfStock = true %}
                                      {% endif %}
                                      
                                      <li data-value={{ option_value }} class="product-card__color-dot item-swatch{% if isOptionOutOfStock %} out-of-stock{% endif %}" style="{% if product_option.selected_value == option_value %}border: 1px solid red;{% endif %}">
                                          <input 
                                              id="{{ current_variant.id | append: option_value }}"
                                              type="radio" 
                                              name="option-{{ product_option.name | handleize }}" 
                                              value="{{ option_value }}"
                                              {% if product_option.selected_value == option_value %}checked{% endif %}
                                          >
                                          <label data-value="{{ option_value }}" for="{{ current_variant.id | append: option_value }}"></label> 
                                          {% if isOptionOutOfStock %}
                                              <div class="product-variant-options__cross-line"></div>
                                          {% endif %}
                                      </li>
                                  {% endfor %}
                                  </ul>                                  
                              </div>
                          {% endif %}
                      {% endfor %}
                  </div>
              {% endif %}
            
          
          {% endform %}
        </div>
        {% comment %} {% if product.type != blank %}
          <button class="productinfotags">
            {% if product.type == 'Quick Dry' %}
              <img src="https://effortless-theme-demo.myshopify.com/cdn/shop/files/sparkle_20x20.webp?v=1668642168" class="quickdryimages" alt="Quick Dry" width="" height="">
              {% endif %}
              {% if product.type == 'Cooling' %}
                <img src="https://effortless-theme-demo.myshopify.com/cdn/shop/files/img_353738_20x20.png?v=1668642289" class="quickdryimages" alt="Quick Dry" width="" height="">
                {% endif %}
                {% if product.type == 'Natural' %}
                  <img src="https://effortless-theme-demo.myshopify.com/cdn/shop/files/leaf_20x20.webp?v=1668642718" class="quickdryimages" alt="Quick Dry" width="" height="">
                  {% endif %}
         <div class="button-type-view">
           {{ product.type }}
        </div>
          </button>
        {% endif %}
          {% endcomment %}

          <button class="addto-cart-button-style" id="addToCartButton-{{ product.id }}" data-varaint = {{ current_variant.id }} >
            Add to Cart
         </button>
       </div>
       {% if show_quick_add %}
       <div class="quick-add no-js-hidden">
        {%- liquid
          assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
          assign qty_rules = false
          if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
            assign qty_rules = true
          endif
        -%}
        {%- if card_product.variants.size > 1 or qty_rules -%}
          <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
            <button
              id="{{ product_form_id }}-submit"
              type="submit"
              name="add"
              class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
              aria-haspopup="dialog"
              aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
              data-product-url="{{ card_product.url }}"
            >
              {{ 'products.product.choose_options' | t }}
              {%- if horizontal_quick_add -%}
                <span class="icon-wrap">{% render 'icon-arrow' %}</span>
              {%- endif -%}
              {%- render 'loading-spinner' -%}
            </button>
          </modal-opener>
          <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
            <div
              role="dialog"
              aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
              aria-modal="true"
              class="quick-add-modal__content global-settings-popup"
              tabindex="-1"
            >
              <button
                id="ModalClose-{{ card_product.id }}"
                type="button"
                class="quick-add-modal__toggle"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                {% render 'icon-close' %}
              </button>
              <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
            </div>
          </quick-add-modal>
        {%- else -%}
          <product-form data-section-id="{{ section.id }}">
            {%- form 'product',
              card_product,
              id: product_form_id,
              class: 'form',
              novalidate: 'novalidate',
              data-type: 'add-to-cart-form'
            -%}
              <input
                type="hidden"
                name="id"
                value="{{ card_product.selected_or_first_available_variant.id }}"
                class="product-variant-id"
                {% if card_product.selected_or_first_available_variant.available == false %}
                  disabled
                {% endif %}
              >
              <button
                id="{{ product_form_id }}-submit"
                type="submit"
                name="add"
                class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                aria-haspopup="dialog"
                aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                aria-live="polite"
                data-sold-out-message="true"
                {% if card_product.selected_or_first_available_variant.available == false %}
                  disabled
                {% endif %}
              >
                <span>
                  {%- if card_product.selected_or_first_available_variant.available -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </span>
                <span class="sold-out-message hidden">
                  {{ 'products.product.sold_out' | t }}
                </span>
                {%- if horizontal_quick_add -%}
                  <span class="icon-wrap">{% render 'icon-plus' %}</span>
                {%- endif -%}
                {%- render 'loading-spinner' -%}
              </button>
            {%- endform -%}
          </product-form>
        {%- endif -%}
      </div>
    {% endif %}
       

    <script>  
      {{ product.variants | json }}
    </script>
  </product-card>

  